@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Quicksand", sans-serif;
}

body {
  font-family: "Quicksand", sans-serif;
}

header {
  border-top: 1px solid gray;
  border-bottom: 1px solid rgba(128, 128, 128, 0.316);
  padding: 30px 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav .search {
  border: 2px solid #bce3c9;
  padding: 0 10px;
  border-radius: 4px;
  max-width: 700px;
  background-color: #fff;
  width: 100%;
}
header nav .search select {
  color: #253d4e;
  font-size: 16px;
  font-weight: 700;
  min-height: 50px;
  border-radius: 4px 0 0 4px;
  outline: none;
  border: none;
  background-color: #fff;
}
header nav .search input {
  max-width: 600px;
  border-width: 0px;
  border-radius: 0 5px 5px 0;
  margin-left: 20px;
  background-color: #fff;
  border: none;
  outline: none;
  width: 68%;
}
header nav .tools ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav .tools ul li:hover {
  cursor: pointer;
}
header nav .tools ul li i {
  font-size: 24px;
  color: #333;
}
header nav .tools ul .add-card {
  position: relative;
}
header nav .tools ul .add-card .count {
  display: flex;
  position: absolute;
  top: 24px;
  left: 4px;
}
header nav .tools ul .add-card .count p {
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 0 0 10px 10px;
}

.navigation {
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.316);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .left button {
  display: flex;
  gap: 10px;
  line-height: 44px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  background: #3bb77e;
  color: white;
  border: none;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}
.navigation .left button:hover {
  background: #32ab72;
}
.navigation .left button i {
  font-size: 20px;
}
.navigation .menu ul {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #253d4e;
}
.navigation .menu ul li {
  line-height: 70px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}
.navigation .menu ul li:hover {
  color: #3bb77e;
  cursor: pointer;
}
.navigation .call-center {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navigation .call-center i {
  font-size: 35px;
}
.navigation .call-center .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation .call-center .text p {
  font-size: 26px;
  font-weight: 700;
  color: #3bb77e;
  line-height: 1;
}
.navigation .call-center .text h2 {
  font-weight: 500;
  font-size: 12px;
  color: #7e7e7e;
}

.banner-bg {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  padding: 70px 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-bg .text h2 {
  color: #253d4e;
  font-weight: 700;
  line-height: 1.2;
  font-size: 48px;
  margin-bottom: 15px;
}
.banner-bg .text ul {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 600;
  background: none;
  margin: 0;
  border-radius: 0;
}
.banner-bg .text ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.banner-bg .btns {
  display: flex;
  gap: 15px;
}
.banner-bg .btns button {
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
  border: 1px solid #ececec;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #3bb77e;
}
.banner-bg .btns button i {
  font-size: 13px;
}

#products .head-text {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#products .head-text h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #7e7e7e;
}
#products .head-text .btns button {
  color: #777;
  padding: 9px 16px;
  border-radius: 10px;
  border: 1px solid #ececec;
  background: #fff;
}
#products .product-card {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;
}
#products .product-card .product-img {
  position: relative;
  border: 1px solid rgba(82, 79, 79, 0.238);
  border-radius: 15px;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
#products .product-card .product-img:hover .position-img {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}
#products .product-card .product-img:hover .pos-icon {
  opacity: 1;
}
#products .product-card .product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#products .product-card .product-img .position-el {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
#products .product-card .product-img .position-el button {
  font-size: 12px;
  line-height: 1;
  border-radius: 15px 0 20px 0;
  color: #fff;
  background-color: #f74b81;
  padding: 9px 20px 10px 20px;
  border: none;
}
#products .product-card .product-img .position-img {
  position: absolute;
  inset: 0;
  transition: 0.3s linear;
  opacity: 0;
}
#products .product-card .product-img .pos-icon {
  position: absolute;
  top: 139px;
  left: 107px;
  display: flex;
  gap: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
#products .product-card .product-img .pos-icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: white;
  color: black;
  transition: 0.2s ease-in-out;
  border-right: 1px solid rgba(128, 128, 128, 0.377);
}
#products .product-card .product-img .pos-icon i:hover {
  background-color: rgb(201, 197, 197);
  cursor: pointer;
}
#products .product-card .product-img .pos-icon .ri-heart-line {
  border-radius: 5px 0 0 5px;
}
#products .product-card .product-img .pos-icon .ri-eye-line {
  border-radius: 0 5px 5px 0;
}
#products .product-card .product-body .title {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #adadad;
  cursor: pointer;
}
#products .product-card .product-body .name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #253d4e;
  line-height: 1.2;
}
#products .product-card .product-body .stars {
  display: flex;
  color: gold;
  margin-bottom: 5px;
}
#products .product-card .product-body .desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #7e7e7e;
  margin-bottom: 15px;
  margin-top: 15px;
}
#products .product-card .product-body .price .new-price {
  font-size: 32px;
  font-weight: bold;
  color: #3bb77e;
}
#products .product-card .product-body .price .old-price {
  color: #adadad;
  margin: 0 0 0 7px;
  text-decoration: line-through;
  font-size: 20px;
  font-weight: bold;
}
#products .product-card .product-body button {
  font-size: 14px;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #3bb77e;
  cursor: pointer;
  letter-spacing: 0.5px;
  margin-right: 15px;
  margin-top: 25px;
  transition: 0.3s ease-in-out;
}
#products .product-card .product-body button:hover {
  background-color: yellowgreen;
}
#products .product-card .product-body span {
  font-size: 14px;
  color: #7e7e7e;
  font-weight: 700;
}

.loading {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .loading-img {
  width: 200px;
  height: 200px;
}
.loading .loading-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#dark-mode {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 300px;
  right: 0px;
  background-color: black;
  color: white;
  height: 50px;
  padding: 4px;
  border-radius: 15px 0 0 15px;
  z-index: 9999999;
  border: none;
}
#dark-mode i {
  padding-top: 10px;
  font-size: 20px;
}
#dark-mode .ri-moon-line {
  display: flex;
}
#dark-mode .ri-sun-line {
  display: none;
}

.darkItems {
  background-color: #121212;
  color: #e0e0e0;
}
.darkItems #dark-mode {
  background-color: white;
}
.darkItems #dark-mode i {
  color: black;
}
.darkItems .search {
  background-color: black;
}
.darkItems .search input {
  background-color: black;
}
.darkItems .search select {
  background-color: black;
  color: white;
}
.darkItems .tools i {
  color: white !important;
}
.darkItems header,
.darkItems footer,
.darkItems nav,
.darkItems .navigation,
.darkItems .banner-bg,
.darkItems .head-text {
  background-color: black;
}
.darkItems .head-text h2 {
  color: white !important;
}
.darkItems .head-text .btns button {
  background-color: white !important;
  color: black !important;
}
.darkItems .head-text .btns button i {
  color: black;
}
.darkItems li {
  color: white;
}
.darkItems li i {
  color: white;
}
.darkItems .text h2 {
  color: white !important;
}
.darkItems p {
  color: white !important;
}
.darkItems .btns button {
  background-color: black;
  color: white;
  border: black;
}
.darkItems .btn,
.darkItems button {
  background-color: black;
  color: #ffffff;
  border: 1px solid black;
}
.darkItems input,
.darkItems select {
  background-color: black;
  color: #ffffff;
  border: 1px solid black;
}
.darkItems a,
.darkItems i {
  color: #ffffff;
}
.darkItems .text {
  color: white;
}
.darkItems .container-fluid {
  background-color: black;
}
.darkItems .product-card {
  background-color: black;
  color: white !important;
}
.darkItems .product-body h2 {
  color: white !important;
}
.darkItems .product-body .name {
  color: white !important;
}
.darkItems .product-body button {
  background-color: black !important;
  color: white !important;
  border-color: white !important;
}
.darkItems .product-body button:hover {
  background-color: white !important;
  color: black !important;
}

.add-to-cart {
  display: none;
  position: fixed;
  transform: translateX(100%);
  right: 0;
  width: 25%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.171);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 999999;
}
.add-to-cart .content {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.add-to-cart .content .total {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 60px;
  background-color: rgb(117, 115, 65);
  text-transform: uppercase;
  font-weight: 700;
}
.add-to-cart .content .close {
  background-color: orange;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 60px;
}

.transformCard {
  transform: translateX(0%);
  transition: 0.5s ease-in-out;
}/*# sourceMappingURL=style.css.map */